[alias]
  st = status
  br = branch
  co = checkout
  ci = commit
  d  = difftool
  gr = log \
    --date=short \
    --graph \
    --pretty=format:'%C(yellow)%h%Creset %ad %C(bold green)%an%Creset %s%C(yellow)%d%Creset'
[color]
  ui = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[core]
  editor = vim
[merge]
  tool = vimdiff
[url "https://"]
  insteadOf = git://
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[user]
  name = Wonder Chang
  email = iwonder.tw@gmail.com
  signingkey = ~/.ssh/id_ed25519_git.pub

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers

[commit]
  gpgsign = true

[credential "https://github.com"]

  helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper = !/opt/homebrew/bin/gh auth git-credential

[url "git@github.com:"]
  insteadOf = https://github.com/
